.status-img {
  margin-bottom: 2px;
  transform: translateY(-2px);
  img {
    margin-left: 5px;
  }
}

.btn-img {
  margin-left: 2px;
  border-radius: 12px;

  &:hover {
    background-color: #f0f0f0;
  }

  &.select {
    background-color: #dddddd;
  }
}

.btn-text {
  margin-top: 3px;
}
