:root {
    --ncms-color-primary-red-bright: #f26178;
    --ncms-color-primary-red-dark: #312424;
    --ncms-color-primary-green-bright: #55dd75;
    --ncms-color-primary-green-dark: #28a745;
    --ncms-color-primary-yellow: #f2b561;
    --ncms-color-primary-yellow-light: #fef6ec;
    --ncms-color-primary-yellow-bright-bg: #ffc400;
    --ncms-color-text-disabled: #aaaaaa;
}
