<app-module-base allowSave='false' [allowAdditionalInformation]='false'>
   <div class='auditcontent mt-4'>
      <h3 class='AuditModuleHeaderBG'>Questionnaire Instructions</h3>
      <p><span id='ContentPlaceHolder1_CompanyNameLabel'>1127 ELEVEN TWENTY SEVEN CONSTRUCTION, INC</span>,</p>
      <p>NCMS has been requested to audit your company’s Pipeline Safety drug and alcohol program for the following
         client(s):</p>
      <ul>
         <li>ARB Midstream, LLC</li>
         <li>Dominion Energy East Ohio</li>
         <li>Dominion Energy Services</li>
         <li>NiSource Corporate Services</li>
      </ul>

      <p>
         These clients have expectations for a compliant Pipeline Safety Program in order to obtain and maintain a
         satisfactory status.
      </p>
      <h4 class='title'>Who We Are</h4>
      <p>
         NCMS assists our clients with meeting their expectations for a safe, reliable, and environmentally-sound
         operation of their facilities. NCMS along with our clients have developed a process to help ensure
         Contractor compliance with regards to a Pipeline Safety Drug and Alcohol Program.
      </p>
      <p>
         Your company will have employees performing job functions that are considered “covered positions” under
         DOT/PHMSA (Pipeline and Hazardous Materials Safety Administration). Our clients require a review of your
         Pipeline Safety drug/alcohol program to ensure it will meet their expectations.
      </p>
      <h4 class='title'>Audit Navigation</h4>
      <p>
         Informational tooltips <img id='ContentPlaceHolder1_tooltipimage' title='More Information'
                                     src='../../../../App_Themes/NCMS/images/info_16.jpg'> are available to help you
         through the questionnaire process. Move your pointer over the tooltip image for a more in-depth description
         of that section.</p>
      <p>
         Each audit page has a Message feature at the top of the page; this will allow you to communicate with NCMS
         personnel. This is the most effective and efficient way to communicate with NCMS staff. ***Please note, NCMS
         will not see any messages that your company has posted until your company sends the audit to NCMS for
         review***
      </p>
      <p>
         The <a id='ContentPlaceHolder1_saveexample' class='aspNetDisabled btn'>Save</a> button allows you to save
         the information you have completed on that specific page. Once this information is saved you can choose from
         the list on the left to navigate to another audit task. If you navigate to another page before choosing
         save, your changes will not be saved.
      </p>
      <p class='boldText'>
         Once you have completed the entire Audit Questionnaire, please use the Review page to complete your audit
         and submit your data to NCMS for review.
      </p>
      <p>
         ** If you are not the person assigned to complete this information for your company, please ensure this
         information is forwarded to the appropriate party for completion. **
      </p>

      <div>&nbsp;</div>
      <a id='ContentPlaceHolder1_StartAudit' class='btn' navigateurl='#'
         href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$StartAudit','')">Start Audit</a>
      <div id='ctl00_ContentPlaceHolder1_RadWindowManager1' style='display:none;'>
         <div id='ctl00_ContentPlaceHolder1_ShowLastAccessedDialog' style='z-index:7001;display:none;'>
            <div id='ctl00_ContentPlaceHolder1_ShowLastAccessedDialog_C' style='display:none;'>

            </div>
            <input id='ctl00_ContentPlaceHolder1_ShowLastAccessedDialog_ClientState'
                   name='ctl00_ContentPlaceHolder1_ShowLastAccessedDialog_ClientState' type='hidden'
                   autocomplete='off'>
         </div>
         <div id='ctl00_ContentPlaceHolder1_RadWindowManager1_alerttemplate' style='display:none;'>
            <div class='rwDialogPopup radalert'>
               <div class='rwDialogText'>
               </div>

               <div>
                  <a onclick="$find('{0}').close(true);" class='rwPopupButton' href='javascript:void(0);'>
					<span class='rwOuterSpan'>
						<span class='rwInnerSpan'>##LOC[OK]##</span>
					</span>
                  </a>
               </div>
            </div>
         </div>
         <div id='ctl00_ContentPlaceHolder1_RadWindowManager1_prompttemplate' style='display:none;'>
            <div class='rwDialogPopup radprompt'>
               <div class='rwDialogText'>
               </div>
               <div data-children-count='1'>
                  <input title='Enter Value' onkeydown="return RadWindowprompt_detectenter('{0}', event, this);"
                         type='text' class='rwDialogInput' value='{2}'>
               </div>
               <div>
                  <a onclick="$find('{0}').close(this.parentNode.parentNode.getElementsByTagName('input')[0].value);"
                     class='rwPopupButton' href='javascript:void(0);'><span class='rwOuterSpan'><span
                        class='rwInnerSpan'>##LOC[OK]##</span></span></a>
                  <a onclick="$find('{0}').close(null);" class='rwPopupButton' href='javascript:void(0);'><span
                        class='rwOuterSpan'><span class='rwInnerSpan'>##LOC[Cancel]##</span></span></a>
               </div>
            </div>
         </div>
         <div id='ctl00_ContentPlaceHolder1_RadWindowManager1_confirmtemplate' style='display:none;'>
            <div class='rwDialogPopup radconfirm'>
               <div class='rwDialogText'>
               </div>
               <div>
                  <a onclick="$find('{0}').close(true);" class='rwPopupButton' href='javascript:void(0);'><span
                        class='rwOuterSpan'><span class='rwInnerSpan'>##LOC[OK]##</span></span></a>
                  <a onclick="$find('{0}').close(false);" class='rwPopupButton' href='javascript:void(0);'><span
                        class='rwOuterSpan'><span class='rwInnerSpan'>##LOC[Cancel]##</span></span></a>
               </div>
            </div>
         </div>
         <input id='ctl00_ContentPlaceHolder1_RadWindowManager1_ClientState'
                name='ctl00_ContentPlaceHolder1_RadWindowManager1_ClientState' type='hidden'>
      </div>
   </div>
</app-module-base>
