<div class='d-flex align-items-baseline  justify-content-between'
     [ngClass]="{ 'group-title' : isAuditor() && !disabled}">
   <div class='d-flex flex-row'>
      <label class='input-label' [ngClass]="{ 'needs-attention' : status === eAuditStatus.NEEDS_ATTENTION}"
             style='white-space: nowrap'>
         <span (mouseover)="isHover=true" (mouseout)="isHover=false">{{label}}</span>
      </label>

      <app-audit-status [status]='status' [labelHover]='isHover' (statusChange)='setStatus($event)'></app-audit-status>
   </div>
   <ng-content></ng-content>
</div>
