$text-primary-color: var(--ncms-color-primary-red-dark);
$text-secondary-color: #888888;
$text-accent-color: #212529;

$fail-bg: #ffe5e9;
$btn-submit-bg: #55dd75;
$btn-submit-color: #000000;

$success:       $btn-submit-bg;
