
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";

hr {
   margin: 0;
}

.border-right-ncms {
   border-right: 1px solid $hr-border-color;
   border-right-color: $hr-border-color;
}
//$text-accent-color
.message-content {
   padding: 20px;
   border-bottom: solid 1px #dddddd;
}

.reply-content {
   margin-left: 100px;
}
