<app-module-base [pageTitle]="'Helpful Information'" allowSave='false' [allowAdditionalInformation]='false'>
   <div class='auditcontent mt-4'>
      <h3 class="title">Helpful Information</h3>
      <p>
         Below are several links to websites to aid you in completing your audit and managing your DOT drug and alcohol testing program.
      </p>
      <p>
         <span style="text-decoration:underline">Office of Drug &amp; Alcohol Policy &amp; compliance (ODAPC)</span><br>
         <a href="http://www.dot.gov/odapc" target="_blank">http://www.dot.gov/odapc</a><br>
         <span>This is the department within the Department of Transportation that wrote Part 40</span>
      </p>
      <p>
         <span style="text-decoration:underline">DOT 49 CFR Part 40</span><br>
         <a href="http://www.dot.gov/odapc/part40" target="_blank">http://www.dot.gov/odapc/part40</a><br>
         <span>This is the regulation that covers all modes (PHMSA, FMCSA, FAA, FRA, etc) with respect to broad DOT drug and alcohol testing regulations.  This regulation spells out things such as what drugs to test for, procedures for processing of drug tests and specific cutoff levels.</span>
      </p>
      <p>
         <span style="text-decoration:underline">Pipeline Hazardous Materials Safety Administration (PHMSA)</span><br>
         <a href="https://www.phmsa.dot.gov/pipeline/drug-and-alcohol/drug-and-alcohol-testing-program-overview" target="_blank">https://www.phmsa.dot.gov/pipeline/drug-and-alcohol/drug-and-alcohol-testing-program-overview</a><br>
         <span>PHMSA is a department within the Department of Transportation that is commonly referred to as a mode.  There are currently 6 modes covered under the DOT umbrella:  Federal Motor Carrier Safety Administration (FMCSA), The Federal Aviation Administration (FAA), Federal Railroad Administration (FRA), Pipeline Hazardous Materials Safety Administration (PHMSA), and the United Sates Coast Guard (USCG).  Each mode has a narrow scope with respect to type of function being performed and each has its own regulations covering drug and alcohol testing.  This creates differences in testing as it pertains to the annual random rate and random alcohol testing.  While each mode dictates such things as frequency of random testing, each mode must adopt 49 CFR Part 40 with respect to the processing of DOT drug and alcohol testing.</span>
      </p>
      <p>
         <span style="text-decoration:underline">DOT 49 CFR Part 199</span><br>
         <a href="https://www.phmsa.dot.gov/pipeline/drug-and-alcohol/drug-and-alcohol-regulations" target="_blank">https://www.phmsa.dot.gov/pipeline/drug-and-alcohol/drug-and-alcohol-regulations</a><br>
         <span>The modal regulations created by PHMSA for the drug and alcohol testing regulations.</span>
      </p>
      <p>
         <span style="text-decoration:underline">What <strong>Employees</strong> Need to Know About DOT Drug &amp; Alcohol Testing </span><br>
         <a href="https://www.transportation.gov/odapc/employee-handbook-english" target="_blank">https://www.transportation.gov/odapc/employee-handbook-english</a><br>
         <span>This is a booklet created by the Office of Drug &amp; Alcohol Policy &amp; Compliance (ODAPC) as an informative tool, for your employees, which discusses what is required to comply with DOT drug and alcohol testing regulations.</span>
      </p>
      <p>
         <span style="text-decoration:underline">What <strong>Employers</strong> Need to Know About DOT Drug &amp; Alcohol Testing</span><br>
         <a href="https://www.transportation.gov/odapc/employer_handbook" target="_blank">https://www.transportation.gov/odapc/employer_handbook</a><br>
         <span>This is a booklet created by the Office of Drug &amp; Alcohol Policy &amp; Compliance (ODAPC) as an informative tool, for employers, which discusses what is required to comply with DOT drug and alcohol testing regulations.</span>
      </p>
      <p>
         <span style="text-decoration:underline">Reasonable Suspicion Training for Supervisors Video</span><br>
         <a href="https://transit-safety.fta.dot.gov/drugandalcohol/tools/ReasonableSuspicion.aspx" target="_blank">https://transit-safety.fta.dot.gov/drugandalcohol/tools/ReasonableSuspicion.aspx</a><br>
         <span>This Reasonable Suspicion Training for Supervisors Video consists of four segments: general requirements on reasonable suspicion referrals; alcohol abuse in the workplace; prohibited drugs in the workplace; and the reasonable suspicion interview.</span>
      </p>
   </div>
</app-module-base>
