<div class="additional-wrapper">
  <div class="additional-menu">
    <div class="additional-need">NEEDS WORK</div>
    <div class="pass">PASS</div>
  </div>
  <div class="additional-content container-fluid">
    <div class="additional-title">
      <div class="title">
        Additional Information Needed<img
          src="assets/img/home/star-fill-small.svg"
        />
      </div>
      <div class="dot">...</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="box-check">
            <input type="checkbox" />
            <label for="">NCMS Comment</label>
          </div>
          <div class="comment">
            <textarea placeholder="Add NCMS Comment here…" id=""></textarea>
          </div>
        </div>
        <div class="box">
          <div class="box-check">
            <input type="checkbox" />
            <label for="">NCMS Comment</label>
          </div>
          <div class="comment">
            <textarea
              placeholder="Add Contractor Comment here…"
              id=""
            ></textarea>
          </div>
        </div>
        <div class="box">
          <div class="box-check box-check-refresh">
            <div class="box-uploads">
              <input type="checkbox" />
              <label for="">Uploads</label>
            </div>
            <button class="btn btn-refresh">
              <img src='assets/img/home/arrow-repeat.svg' />Refresh
            </button>
          </div>
          <div class="update-box">
            <div class="update-wrapper">
              <img src='assets/img/home/document-richtext.svg' />
              <div class="title">Filename_098765.pdf</div>
            </div>
            <div class="update-wrapper">
              <img src='assets/img/home/document-richtext.svg' />
              <div class="title">Filename_098765.pdf</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
         <app-message-panel ></app-message-panel>
      </div>
    </div>
  </div>
</div>
