<div class='d-flex flex-row border'>
   <app-sidebar>
      <div class='pl-5 pr-5 pb-3' style='padding-top: 50px'>
         <h1 class='text-color-primary'>Settings</h1>
      </div>
      <hr>
   </app-sidebar>
   <div class='border-start'></div>
   <div class='container-fluid pl-5 pr-5 pb-3 content' style='padding-top: 50px'>
      <ul class='list-group list-group-flush'>
         <li class='list-group-item'>
            <h1>Roles & Permissions</h1>
            <h6>Set the roles and permissions for individual users in the system.</h6>
            <a href='/user-role' class='card-link pointable'>Manage ></a>
         </li>
         <li class='list-group-item'>
            <h1>Audit Message Templates</h1>
            <h6>Manage pre-defined responses available for feedback.</h6>
            <a href='/audit-message-template' class='card-link pointable'>Manage ></a>
         </li>
         <li class='list-group-item'>
            <h1>Help Content</h1>
            <h6>Add or update help content by module.</h6>
            <a href='/help-content' class='card-link pointable'>Manage ></a>
         </li>
         <li class='list-group-item'>
            <h1>General Settings</h1>
            <h6>System-wide settings for the application.</h6>
            <a href='/general-settings' class='card-link pointable'>Manage ></a>
         </li>
         <li class='list-group-item'>
            <h1>Module Activation</h1>
            <h6>Determine which modules are seen by each contractor.</h6>
            <a href='javascript:void(0);' class='card-link pointable'>Manage ></a>
         </li>
      </ul>
   </div>
</div>
