<div *ngIf='contacts?.length > 0'>
   <app-section title='Contacts' [status]='auditStatus'>
      <div class='row mt-3'>
         <div class='col-md-7'>
            <div>
               <div *ngFor='let contact of contacts; let i = index'>
                  <app-contact [contact]='contact' [contactsFormArray]='contactsFormArray' [auditAllForm]='auditAllForm'
                               [ncms_id]='ncms_id' [module]='module' [section]='section' (delete)='handleDeleteContact($event)'></app-contact>
               </div>
               <button class='btn btn-lg btn-secondary' type='button' (click)='handleAddContact()'>Add Contact</button>
            </div>
         </div>
         <div class='col-md-5'>
<!--            <app-message-panel [ncms_id]='ncms_id' [module]='module' [section]='section' [auditForm]='auditForm'>-->
<!--            </app-message-panel>-->
            <app-message-panel [ncms_id]='ncms_id' [module]='module' [section]='section' [auditAllForm]='auditAllForm'></app-message-panel>
         </div>
      </div>
   </app-section>
</div>
