.main{
    border: 1px solid #e2e2e2;
    padding: 20px;
}
.module-list{
    border-right: 1px solid #e2e2e2;
}
.form-check-input{
    margin-top: 8px;
}
.form-check{
    margin-bottom: 10px;
}
.button-wrapper{
    height: 60px;
    text-align: right;
}
.btn{
    color: white;
}
.btn-save{
    margin-top: 20px;
}
.btn-publish{
    margin-top: 20px;
    margin-left: 30px;
}
.saving-bg {
    opacity: 0.46;
}