<div>
   <app-auditable-input id='previous_name'  [inputForm]='companyExtraForm'
                        [auditAllForm]='auditAllForm' [ncms_id]='company?.ncms_id' [module]='module'
                        [section]='section' field_name='previous_name' label='Previous Company Name'
   >
   </app-auditable-input>
   <app-auditable-input id='dba_name'  [inputForm]='companyExtraForm'
                        [auditAllForm]='auditAllForm' [ncms_id]='company?.ncms_id' [module]='module'
                        [section]='section' field_name='dba_name' label='DBA Name'
   >
   </app-auditable-input>
   <app-auditable-input id='federal_id'  [inputForm]='companyExtraForm'
                        [auditAllForm]='auditAllForm' [ncms_id]='company?.ncms_id' [module]='module'
                        [section]='section' field_name='federal_id' label='Federal ID'>
   </app-auditable-input>
   <app-auditable-input id='isnid'  [inputForm]='companyExtraForm'
                        [auditAllForm]='auditAllForm' [ncms_id]='company?.ncms_id' [module]='module'
                        [section]='section' field_name='isnid' label='ISN ID'
   >
   </app-auditable-input>
   <app-auditable-input id='type_of_work' [inputForm]='companyExtraForm'
                        [auditAllForm]='auditAllForm' [ncms_id]='company?.ncms_id' [module]='module'
                        [section]='section' field_name='type_of_work' label='Type of Work'
   >
   </app-auditable-input>
</div>
