.ncms-wrapper {
  .ncms-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ncms-title {
      font-size: 36px;
      color: var(--ncms-color-primary-red-dark);
      small {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #888888;
      }
    }
    .ncms-left {
      display: flex;
      align-items: center;
    }
  }
}
.instruction-wrapper {
  padding: 0 0.1px 0 0;

  .instruction-title {
     margin-top: 30px;
     font-size: 1.2em;
     font-weight: bold;
     color: var(--ncms-color-primary-red-dark);
  }

  .instruction-note {
     font-size: 1em;
     color: var(--ncms-color-primary-red-dark);
  }

  .instruction-line {
     z-index: 9;
     margin-bottom: 16px;
     display: flex;
     justify-content: flex-end;
     position: relative;

     &:before {
        content: "";
        width: 85.5%;
        height: 5px;
        position: absolute;
        right: 166px;
        background: #dddddd;
        top: 14px;
     }

     .need-work {
        font-size: 13px;
        font-weight: bold;

        color: var(--ncms-color-primary-red-dark);
        padding: 6px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        cursor: default;
     }

     .pass {
        padding: 6px 16px 6px 15px;
        background-color: #dddddd;
        font-size: 13px;
        font-weight: bold;
        color: var(--ncms-color-primary-red-dark);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: default;
     }
  }

  .company-form {
     margin-top: 36px;
     .box-title {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .company-title {
           color: var(--ncms-color-primary-red-dark);
           font-size: 20px;
           font-weight: bold;
        }

        .company-dot {
           color: #888888;
           font-size: 51px;
           position: absolute;
           cursor: default;
           right: 0;
           bottom: -7px;
        }
     }

     form {
        .form-group {
           label {
              color: #212529;
              font-size: 16px;
           }
        }
     }
  }
}

.checkwork {
  background-color: var(--ncms-color-primary-red-bright)!important;
  color: #ffffff !important;
}

.checkpass {
  background-color: #55dd75 !important;
  color: #ffffff !important;
}
